<div class="row">
    <h1 class="text-center col-9">Отпуск</h1>
    <button class="btn btn-default" title="Добавить отпуск" [routerLink]="['/vacations/new']"><i class="fa fa-plus"></i></button>    
    <hr>
</div>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Начало</th>
            <th scope="col">Конец</th>
            <th scope="col">Кол-во дней</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacation of vacations; index as i;">
            <td> {{ i + 1 }} </td>
            <td> {{ vacation.doctor.fullname }} </td>
            <td> {{ vacation.startVacation | date: 'dd.MM.yyyy'  }} </td>
            <td> {{ vacation.endVacation | date: 'dd.MM.yyyy' }} </td>
            <td> {{ vacation.countDays }} </td>
        </tr>
    </tbody>
</table>