<form class="container">
    <div>
        <h3 class="text-center"> {{ position.name}} </h3>
        <hr>
        <mat-form-field class="col-9">
            <input matInput placeholder="Наименование отдела" name="name" [(ngModel)]="position.name" required>
        </mat-form-field>
        <mat-form-field class="col-9">
            <input matInput placeholder="Уровень сортировки"  title="Чем уровень меньше, тем выше стоит в списке" name="sortLevel" [(ngModel)]="position.sortLevel" required>
        </mat-form-field>
        <mat-checkbox 
            class="col-4" 
            name="isLock" 
            [(ngModel)]="data.position.isLock" 
        >Должность заблокирован
        </mat-checkbox>
        <hr>
        <button class="btn btn-primary pull-right" [mat-dialog-close]="data.position"><i class="fa fa-save"></i>
            Сохранить</button>
    </div>
</form>