<form #positionForm="ngForm" class="container">
    <div>
        <h3 *ngIf="position.id !== undefined" class="text-center"> {{ position.name}} </h3>
        <h3 *ngIf="position.id === undefined" class="text-center"> Создать новую должность </h3>
        <hr>
        <mat-form-field class="col-9">
            <input matInput placeholder="Наименование отдела" name="name" [(ngModel)]="position.name" required>
        </mat-form-field>
        <mat-form-field class="col-9">
            <input matInput placeholder="Уровень сортировки"  title="Чем уровень меньше, тем выше стоит в списке" name="sortLevel" [(ngModel)]="position.sortLevel" required>
        </mat-form-field>
        <mat-checkbox 
            class="col-4" 
            name="isLock" 
            [(ngModel)]="position.isLock" 
        >Должность заблокирован
        </mat-checkbox>
        <hr>
        <button class="btn btn-primary pull-right" [disabled]="positionForm.invalid" [mat-dialog-close]="position"><i class="fa fa-save"></i>
            Сохранить</button>
    </div>
</form>