<form #editPatientForm="ngForm">
    <div>
        <p>Данные: <strong>{{ patient.fullname }}</strong></p>
        <hr>
        <p>Номер карточки: <strong>{{ patient.personalCardNumber }}</strong></p>
        <mat-form-field class="col-12mt-5">
            <input matInput placeholder="Фамилия" required name="lastname" [(ngModel)]="patient.lastname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Имя" required name="firstname" [(ngModel)]="patient.firstname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Отчество" required name="middlename" [(ngModel)]="patient.middlename" />
        </mat-form-field>
    </div>
</form>