<form #editPatientForm="ngForm" (ngSubmit)="save()">
    <div>
        <p *ngIf="!isNewPatient()"> Новый пациента.</p>
        <p *ngIf="isNewPatient()"> Данные: <strong>{{ patient.fullname }}</strong></p>
        <hr>
        <p>Номер карточки: <strong>{{ patient.personalCardNumber }}</strong></p>
        <mat-form-field *ngIf="!isNewPatient()" class="col-12">
            <input matInput placeholder="Номер персональной карты" required name="personalCardNumber" [(ngModel)]="patient.personalCardNumber" title="Будте придельно внимательны при заполнении даного поля, оно не редактируемо, заполяете только русскими буквами и цифрами!"/>
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Фамилия" required name="lastname" [(ngModel)]="patient.lastname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Имя" required name="firstname" [(ngModel)]="patient.firstname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Отчество" required name="middlename" [(ngModel)]="patient.middlename" />
        </mat-form-field>
        <mat-form-field class="col-5">
            <input matInput [matDatepicker]="picker" placeholder="Дата рождения" name="dateOfBirth"
                [(ngModel)]="patient.dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-label>Укажите врача</mat-label>
            <mat-select [(value)]="patient.doctorId">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor.id" required>
                    {{ doctor.fullname }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button class="col-3 ml-3 btn btn-primary" [mat-dialog-close]="patient" type="submit" ><i class="fa fa-save"></i>Сохранить</button>
        <button *ngIf="isNewPatient()" class="col-3 ml-3 btn btn-danger" (click)="deletePatient()"><i class="fa fa-trash"></i>Удалить</button>
    </div>
</form>
<hr>
<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href>Раздел документов</a>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-3">
            <h3>Выбрать документы</h3>
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                 <i class="fa fa-upload fa-3x"></i> <br> Загрузить паспорт
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px">
            <div class="row">
                <h3 class="col-4">Список документов</h3>
                <mat-form-field class="col-4">
                    <input matInput placeholder="Номер" name="number" [(ngModel)]="doc.number" />
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput placeholder="Серия" name="series" [(ngModel)]="doc.series" />
                </mat-form-field>
            </div>
            <p>Очередь: {{ uploader?.queue?.length }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Наименование документа</th>
                    <th>Размер</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <!-- <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td> -->
                </tr>
                </tbody>
            </table>
            <div>
                <div>
                    Загрузка документов:
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отмена
                </button>
                <!-- <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button> -->
            </div>
 
        </div>
 
    </div>