<h1 class="text-center"> Назначить новый прием</h1>
<hr>
<mat-form-field class="col-3 mt-5 ml-5">
    <mat-label>Выберете доктора</mat-label>
    <mat-select [(ngModel)]="currentDoctor">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
            {{ doctor.fullname }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="col-3 mt-5 ml-5">
    <mat-label>Выберете пациента</mat-label>
    <mat-select >
        <mat-option *ngFor="let patient of currentDoctor.patients" [value]="patient.id">
            {{ patient.fullname }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="col-5">
    <input matInput [matDatepicker]="picker" placeholder="День встречи" name="dataRecipion"
        [(ngModel)]="data" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button (click)="test()" class="btn btn-primary">Test</button>
<!-- [(value)]="currentDoctor.id" -->