<div class="container mt-5">
    <div class="row justify-content-center">
        <mat-tab-group class="text text-dark">
            <mat-tab class="text-dark" label="Войти в систему">
                <form class="mt-5" #loginForm="ngForm">
                    <div>
                        <p class="text-center">Введите Ваше имя и пароль для входа в систему</p>
                        <hr />
                        <mat-form-field class="form-group full-width">
                            <input matInput placeholder="Введите Ваш логин" name="Username"
                                [(ngModel)]="userForLogin.username" required />
                        </mat-form-field>
                        <mat-form-field class="form-group full-width">
                            <input matInput placeholder="Введтие Ваш пароль" name="Password" type="password"
                                [(ngModel)]="userForLogin.password" required />
                        </mat-form-field>
                        <button class="btn btn-primary pull-right" (click)="login()" [disabled]="!loginForm.valid">
                            Войти в систему
                        </button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>