<form class="container">
    <div>
        <h3 class="text-center"> {{ phone.numberMask }} </h3>
        <hr>
        <mat-form-field class="col-9">
            <input matInput placeholder="Наименование отдела" name="number" [(ngModel)]="phone.number" required>
        </mat-form-field>
        <mat-checkbox 
            class="col-4" 
            name="isLock" 
            [(ngModel)]="data.phone.isLock" 
        >Телефон заблокирован
        </mat-checkbox>
        <hr>
        <button class="btn btn-primary pull-right" [mat-dialog-close]="data.phone"><i class="fa fa-save"></i>
            Сохранить</button>
    </div>
</form>