<div class="row">
    <div class="col-3"></div>
    <mat-form-field class="col-5 text-center">
        <input matInput (keyup)="applyFilter($event)" placeholder="Фильтр">
    </mat-form-field>
    <button class="col-2 btn btn-default" title="Добавить телефон" (click)="addPhone()"><i class="fa fa-plus"></i></button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let phone"> 1 </td>
        </ng-container>

        <ng-container matColumnDef="numberMask">
            <th mat-header-cell *matHeaderCellDef> Номер телефона </th>
            <td mat-cell *matCellDef="let phone"> {{ phone.numberMask }} </td>
        </ng-container>

        <ng-container matColumnDef="isLock">
            <th mat-header-cell *matHeaderCellDef> Акутальность </th>
            <td mat-cell *matCellDef="let phone"><mat-checkbox [disabled]=true [(ngModel)]="phone.isLock"></mat-checkbox> </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Редактировать </th>
            <td mat-cell *matCellDef="let phone" (click)="editPhone(phone)"><i class="fa fa-edit"></i> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>