<form #patientForm="ngForm">
    <div>
        <p class="text-center h2" *ngIf="isNewPatient()"> Новый пациента </p>
        <p *ngIf="!isNewPatient()"> Данные: <strong>{{ patient.fullname }}</strong></p>
        <hr>
        <p>Номер карточки: <strong>{{ patient.personalCardNumber }}</strong></p>
        <mat-form-field *ngIf="isNewPatient()" class="col-12">
            <input matInput placeholder="Номер персональной карты" required name="personalCardNumber"
                [(ngModel)]="patient.personalCardNumber"
                title="Будте придельно внимательны при заполнении даного поля, оно не редактируемо, заполяете только русскими буквами и цифрами!" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Фамилия" required name="lastname" [(ngModel)]="patient.lastname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Имя" required name="firstname" [(ngModel)]="patient.firstname" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Отчество" required name="middlename" [(ngModel)]="patient.middlename" />
        </mat-form-field>
        <mat-form-field class="col-5">
            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Дата рождения" name="dateOfBirth"
                [(ngModel)]="patient.dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-label>Укажите врача</mat-label>
            <mat-select [(value)]="patient.doctorId" required [(ngModel)]="patient.doctorId" name="doctorId">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{ doctor.fullname }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button class="col-3 ml-3 btn btn-primary" [disabled]="!patientForm.valid" (click)="save(patientForm)"><i
                class="fa fa-save"></i>Сохранить</button>
        <button *ngIf="!isNewPatient()" class="col-3 ml-3 btn btn-danger" (click)="deletePatient()"><i
                class="fa fa-trash"></i>Удалить</button>
    </div>
</form>
<hr>
<div *ngIf="!isNewPatient() && haveDocuments()">
    <h3>Документы:</h3>
    <table class="table table-striped text-center">
        <thead class="row">
            <th scope="col" class="col-1">№</th>
            <th scope="col" class="col-3">Наименование документа</th>
            <th scope="col" class="col-1">Номер</th>
            <th scope="col" class="col-1">Серия</th>
            <th scope="col" class="col-2">Тип</th>
            <th scope="col" class="col-2">Запрос</th>
            <th scope="col" class="col-1">Скачать</th>
            <th scope="col" class="col-1">Удалить</th>
        </thead>

        <tbody *ngFor="let document of documents; index as i;" class="col-12 row text-center">
            <th class="col-1">{{ i  + 1 }})</th>
            <th class="col-3">{{ document.docName }}</th>
            <th class="col-1">{{ getSeriesNumber(document?.number) }}</th>
            <th class="col-1">{{ getSeriesNumber(document?.series) }}</th>
            <th class="col-2">{{ document.documentType.name }}</th>
            <th class="col-2"> <button class="btn btn-info" (click)="interdepartRequest(document.id)"
                    [disabled]="document.documentTypeId !== 1 || document.interdepartStatusId != 1">
                    {{ interdepartStatusName(document.interdepartStatusId) }} </button> </th>
            <th class="col-1 text-center"><button class="btn btn-success" title="Загрузить документ"
                    (click)="downloadDoc(document)"><i class="fa fa-download"></i></button></th>
            <th class="col-1 text-center"><button class="btn btn-danger" title="Удалить документ"
                    (click)="deleteDoc(document)"><i class="fa fa-trash"></i></button></th>

        </tbody>
    </table>
</div>
<hr>
<div class="container" *ngIf="!isNewPatient()">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand">Раздел документов</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Выбрать документы</h3>
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                <i class="fa fa-upload fa-3x"></i> <br> Загрузить паспорт
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px">
            <div class="row">
                <h3 class="col-3">Список документов</h3>
                <mat-form-field class="col-2">
                    <input matInput placeholder="Номер" name="number" [(ngModel)]="doc.number" />
                </mat-form-field>
                <mat-form-field class="col-2">
                    <input matInput placeholder="Серия" name="series" [(ngModel)]="doc.series" />
                </mat-form-field>
                <mat-form-field class="col-5">
                    <mat-label>Укажите тип документа</mat-label>
                    <mat-select [(value)]="doc.documentTypeId">
                        <mat-option *ngFor="let doctype of docTypes" [value]="doctype.id">
                            {{ doctype.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <p>Очередь: {{ uploader?.queue?.length }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Наименование документа</th>
                        <th>Размер</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                        </td>
                        <td *ngIf="uploader.options.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                    [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div>
                    Загрузка документов:
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length ">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </div>

        </div>

    </div>