<div class="container">
    <!-- Для доктора -->
    <div *ngIf="isDoctor()" [routerLink]="['/patients']" routerLinkActive="router-link-active">
        <p>Пациенты(для врача)</p>
        <hr>
    </div>

    <!-- Для регистратора -->

    <div *ngIf="isRegistry()" [routerLink]="['/patientsforregistry', 0]">
        <p>Добавить пациента</p>
        <hr>
    </div>

    <div *ngIf="isRegistry()" [routerLink]="['/patientsforregistry']">
        <p>Пациенты(для регистратора)</p>
        <hr>
    </div>

    <!-- Для отдела кадров -->
    <div *ngIf="isHR()">
        <p>График работ</p>
        <hr>
    </div>
</div>