<div class="container">
    <!-- Для доктора -->
    <div *ngIf="isDoctor()" [routerLink]="['/patients']" routerLinkActive="router-link-active">
        <p>Пациенты</p>
        <hr>
    </div>

    <!-- Для регистратора -->
    <div *ngIf="isRegistry()">
        <div [routerLink]="['/receptions']">
            <p>Назначить прием пациента</p>
            <hr>
        </div>
        <div [routerLink]="['/patientsforregistry', 0]">
            <p>Добавить пациента</p>
            <hr>
        </div>
        <div [routerLink]="['/patientsforregistry']">
            <p>Пациенты</p>
            <hr>
        </div>
    </div>
    <!-- Для отдела кадров -->
    <div *ngIf="isHR()">
        <div>
            <p>График работ</p>
            <hr>
        </div>
        <div [routerLink]="['/vacations']">
            <p>График отпусков</p>
            <hr>
        </div>
    </div>
    <!-- Для администратора -->
    <div *ngIf="isAdmin()">
        <div>
            <p>Добавить пользователя</p>
            <hr>
        </div>
        <div>
            <p>Пользователи</p>
            <hr>
        </div>
        <div>
            <p>Роли</p>
            <hr>
        </div>
    </div>
</div>