<form #departmentForm="ngForm" class="container">
    <div>
        <h3 *ngIf="department.id !== undefined" class="text-center"> {{ department.name}} </h3>
        <h3 *ngIf="department.id === undefined" class="text-center"> Создать новый отдел </h3>
        <hr>
        <mat-form-field class="col-9">
            <input matInput placeholder="Наименование отдела" name="name" [(ngModel)]="department.name" required>
        </mat-form-field>
        <mat-form-field class="col-9">
            <input matInput placeholder="Уровень сортировки" title="Чем уровень меньше, тем выше стоит в списке"
                name="sortLevel" [(ngModel)]="department.sortLevel" required>
        </mat-form-field>
        <mat-checkbox [disabled]="isNew()"
            class="col-4" 
            name="isLock" 
            [(ngModel)]="department.isLock" 
        >Отдел заблокирован
        </mat-checkbox>
        <hr>
        <button class="btn btn-primary pull-right" [disabled]="departmentForm.invalid"  [mat-dialog-close]="department"><i class="fa fa-save"></i>
            Сохранить</button>
    </div>
</form>